<%= form_for [:admin, @page] do |f| %>
<% if @page.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

	<ul>
		<% @page.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>



<div class="row">

	<div class="col-sm-8">

		<div class="form-group">
			<%#= f.label :title %>
			<%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Page Title' %>
		</div>
		<div class="form-group">
			<div class="input-group">
				<%= content_tag :span, root_url, class: 'input-group-addon' %>
				<%#= f.label :slug %>
				<%= f.text_field :slug, class: 'form-control', placeholder: 'Permalink Slug' %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :content, 'Page Content' %>
			<%= f.text_area :content, class: 'froala_content form-control' %>
		</div>

	</div>

	<div class="col-sm-4">

		<div class="form-group">
			<%= f.label :status, 'Page Status' %>
			<%= f.select :status, %w[Published Draft], {}, {class: 'form-control'} %>
		</div>

		<div class="actions">
			<%= f.submit nil, class: 'btn btn-primary btn-lg btn-block' %>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-6">
				<%= link_to 'View Page', short_page_path(@page), class: 'btn btn-info btn-sm btn-block' if @page.persisted? %>
			</div>
			<div class="col-xs-6">
				<%= link_to 'Cancel', admin_pages_path, class: 'btn btn-warning btn-sm btn-block' %>
			</div>
		</div>

	</div>

</div>



<% end %>
