<%= render 'layouts/shortcodes/home/jumbo' -%>

<div class="container lead">
	<p>
		<strong>CASINOS the Grand Collection</strong> may very well be the most prominent independent supplier of exclusive casino offers and customized gambling travel itineraries to the world's most experienced gamblers. We connect our clients to the <strong>best casino offers, complementary privileges, benefits &amp; services</strong> at gaming destinations across the United States and internationally.
	</p>
	<p>
		Our long-term experience in this industry has created a worldwide network of gaming resorts and cruise lines. Working with our partners, we offer our clients an incredible selection of complimentary trips, amenities, and invitations to top-tier special events.
	</p>
	<p>
		Take advantage of the wonderful opportunities that we can provide to create a memorable gaming holiday, celebrate an extended weekend, or just relax on a getaway to one of our exciting destinations or onboard some of the world's most luxurious cruise liners.
	</p>
</div>

<%= render 'layouts/shortcodes/home/gaming' -%>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-7">
			<h4>The Grand Collection of "On Land" Casinos</h4>
			<p>
				The Grand Collection offers “Very V.I.P” Group Departures to great <a class="btn btn-default btn-xs" href="/destinations">Gaming Locations</a> including: Las Vegas, Atlantic City, New Orleans, Tunica, Reno, Lake Tahoe, Dominican Republic, Windsor, Biloxi etc. We also arrange “Very V.I.P.” Customized Gaming Departures for your personally selected travel dates, as well as advice on where to gamble to receive the most casino comps.
			</p>
			<h4>The Grand Collection of Cruise Expereience & Gaming "At Sea"</h4>
			<p>
				“Very V.I.P.” Group Departures to exotic destinations such as: Hawaii, Alaska, Canada, New England, Mexico, Panama Canal, Bahamas, the Caribbean, South America, Europe, Asia and more! Additionally we arrange “Very V.I.P.” Sailings for your personally selected travel dates.
			</p>
			<hr class="visible-xs-block">
		</div>
		<div class="col-sm-6 col-md-5">
			<%= render 'events/upcoming' -%>
		</div>
	</div>
</div>

<%= render 'layouts/shortcodes/home/travel' -%>

<%= render 'layouts/shortcodes/home/comps' -%>

<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h4>Exceptional Service</h4>
			<p>
				It is our job, as your casino experts, to offer the most comps and best gaming experience possible to all levels of players. Even those who are first time players will be granted no less than discounted room accommodations.
			</p>
			<p>
				The policies personally established by President and C.E.O. Rick Diaz are simple; among them...
			</p>
			<blockquote class="blockquote">
				<em class="lead">Offer to every customer as many complimentary privileges as possible, in advance, even if not requested by the customer.</em>
				<footer>Rick Diaz <cite title="Casinos The Grand Colelction President and C.E.O.">Casinos The Grand Colelction President and C.E.O.</cite></footer>
			</blockquote>
			<p>
				A world filled with luxuries, fun, and excitement await you. We provide “truly superior personalized services” to those wishing to enjoy gaming holidays at some of the world’s finest gaming resorts.
			</p>

			<div class="well well-sm text-center">
				<p><em>Recieve Special Offers</em></p>
				<%= render 'layouts/shortcodes/sign_up_horiz' -%>
			</div>

		</div>
		<div class="col-md-5">
			<%= render 'layouts/shortcodes/home/testimonials' -%>
		</div>
	</div>

</div>

