<p id="notice"><%= notice %></p>

<h1>Listing Cruise Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Venue</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cruise_lists.each do |cruise_list| %>
      <tr>
        <td><%= cruise_list.title %></td>
        <td><%= cruise_list.slug %></td>
        <td><%= cruise_list.venue %></td>
        <td><%= cruise_list.content %></td>
        <td><%= link_to 'Show', cruise_list %></td>
        <td><%= link_to 'Edit', edit_cruise_list_path(cruise_list) %></td>
        <td><%= link_to 'Destroy', cruise_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cruise list', new_cruise_list_path %>
