<% @page_header = @casino.name -%>


<p>
  <strong>Address:</strong>
  <%= @casino.address %>
</p>

<p>
  <strong>Content:</strong>
  <%= @casino.rendered_content %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @casino.destination %>
</p>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_casino_path(@casino) %> |
<%= link_to 'Back', casinos_path %>
<% end -%>