
  <% @casino.destinations.each do |dest| -%>
  <p>
  <%= link_to dest.name, dest -%>
  <%= dest.distance.round(2) -%>
  </p>
  <% end -%>


<p>
  <strong>Name:</strong>
  <%= @casino.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @casino.slug %>
</p>

<p>
  <strong>Address:</strong>
  <%= @casino.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @casino.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @casino.longitude %>
</p>

<p>
  <strong>Content:</strong>
  <%= @casino.content %>
</p>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_casino_path(@casino) %> |
<%= link_to 'Back', admin_casinos_path %>
<% end -%>