<% @page_header = @casino.name -%>

<div class="row">

	<div class="col-md-8 col-md-push-4 col-sm-6 col-sm-push-6">
		<%= @casino.rendered_content %>
	</div>

	<div class="col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6">

		<% if @casino.pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@casino.pictures.first.image_url), casino_pictures_path(@casino), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default casino image -->
		<% end -%>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Casino Details</h3>
			</div>
			<div class="panel-body">
				<p>
					<strong>Address:</strong><br>
					<%= @casino.address %>
				</p>
				<p>
					<strong>Destination:</strong><br>
					<%= link_to_if @casino.destination.present?, @casino.destination.try(:name), @casino.destination %>
				</p>
			</div>
		</div>

		<% if @casino.events.any? -%>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Upcoming Events</h3>
			</div>
			<div class="list-group">
				<% @casino.events.limit(3).each do |event| -%>
				<%= link_to event, class: 'list-group-item' do -%>
				<div class="list-group-item-text media">
					<%= content_tag :i, nil, class: "fa fa-fw fa-calendar fa-2x media-object pull-left" -%>
					<div class="media-body">
						<h5 class="media-heading">
							<%= event.title -%><br>
							<small><%= event.date_span -%></small>
						</h5>
					</div>
				</div>
				<% end -%>
				<% end -%>
			</div>
		</div>
		<% end -%>

		<div class="panel panel-default">
			<header class="panel-heading">
				<h3 class="panel-title">Flights</h3>
			</header>
			<div class="list-group">
				<%= render(@casino.flights.limit(5)) || content_tag(:div, 'No Flights at this Time', class: 'panel-body text-center') -%>
			</div>
		</div>

	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_casino_path(@casino) %> |
<%= link_to 'Back', casinos_path %>
<% end -%>
