<div class="container">

	<div class="page-header">
		<h1>
			<%= @casino.name %>
		</h1>
	</div>

	<div class="row">

		<div class="col-sm-8 col-sm-push-4">
			<%= @casino.rendered_content %>
		</div>
		<div class="col-sm-4 col-sm-pull-8">

			<% if @casino.first_image -%>
			<div class="thumbnail">
				<%= image_tag @casino.first_image -%>
			</div>
			<% end -%>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Casino Information</h3>
				</div>
				<div class="panel-body">
					<%= content_tag :div, nil, id: 'casinoMap', class: 'gmap', data: {lat: @casino.latitude, lng: @casino.longitude} -%>
				</div>
				<div class="list-group">
					<% @casino.destinations.each do |dest| -%>
					<%= link_to dest.name, dest, class: 'list-group-item' -%>
					<% end -%>
				</div>
			</div>

		</div>

	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'Edit', edit_admin_casino_path(@casino) %> |
	<%= link_to 'Back', admin_casinos_path %>
	<% end -%>

</div>