<% @page_header = @casino.name -%>

<div class="row">

	<div class="col-md-8 col-md-push-4 col-sm-6 col-sm-push-6">
		<%= @casino.rendered_content %>
	</div>

	<div class="col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6">

		<% if @casino.pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@casino.pictures.first.image_url), casino_pictures_path(@casino), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default casino image -->
		<% end -%>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Casino Details</h3>
			</div>
			<div class="panel-body">
				<p>
					<strong>Address:</strong><br>
					<%= @casino.address %>
				</p>
				<p>
					<strong>Destination:</strong><br>
					<%= link_to_if @casino.destination.present?, @casino.destination.try(:name), @casino.destination %>
				</p>
			</div>
		</div>

	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_casino_path(@casino) %> |
<%= link_to 'Back', casinos_path %>
<% end -%>