<%= form_for [:admin, @casino], html: {multipart: true} do |f| %>
<% if @casino.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@casino.errors.count, "error") %> prohibited this casino from being saved:</h2>

	<ul>
		<% @casino.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>
</div>


<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<%= f.label :slug %>
			<%= f.text_field :slug, class: 'form-control' %>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<%= f.label :code %>
			<%= f.text_field :code, class: 'form-control' %>
		</div>
	</div>
</div>

<div class="form-group">
	<%= f.label :destination_id %>
	<div class="input-group">
		<%= f.collection_select :destination_id, Destination.all, :id, :name, {include_blank: 'Select Destination'}, class: 'form-control', id: 'select_destination' -%>
		<span class="input-group-btn">
			<%= link_to 'Add Destination', new_admin_destination_path, class: 'btn btn-warning', data: { confirm: 'You are leaving this page. Unsaved changes will be lost.' } -%>
		</span>
	</div>
</div>

<div class="form-group">
	<%= f.label :address %>
	<%= f.text_field :address, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :content %>
	<%= f.text_area :content, class: 'froala_content form-control' %>
</div>

<%= render 'admin/admin/nested_accordion', f: f, includes: [:pictures] -%>

<div class="actions">
	<%= f.submit nil, class: 'btn btn-lg btn-primary' %>
</div>
<% end %>
