

<h1>Listing Casinos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @casinos.each do |casino| %>
      <tr>
        <td><%= link_to casino.name, edit_admin_casino_path(casino) %></td>
        <td><%= casino.address %></td>
        <td><%= casino.latitude %></td>
        <td><%= casino.longitude %></td>
        <td><%= link_to 'Show', casino %></td>
        <td><%= link_to 'Destroy', [:admin, casino], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Casino', new_admin_casino_path %>
