<% @page_header = @casino.name -%>


<p>
  <strong>Address:</strong>
  <%= @casino.address %>
</p>

<p>
  <strong>Content:</strong>
  <%= @casino.rendered_content %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @casino.destination %>
</p>

<%= link_to 'Edit', edit_casino_path(@casino) %> |
<%= link_to 'Back', casinos_path %>
