<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @port.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @port.slug %>
</p>

<p>
  <strong>content:</strong>
  <%= @port.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @port.location %>
</p>

<p>
  <strong>Pics:</strong>
  <% @port.pictures.each do |pic| %>

  <%= image_tag pic.image_url(:thumb) -%>

  <% end -%>
</p>


<%= link_to 'Edit', edit_admin_port_path(@port) %>
<%#= link_to 'Back', ports_path %>
