<%= form_for [:admin, @destination], html: {multipart: true} do |f| %>
<% if @destination.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

  <ul>
    <% @destination.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">

  <div class="col-sm-8">

    <%= render 'admin/admin/images/pictures_upload', f: f -%>

    <div class="form-group">
      <%#= f.label :name %>
      <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Destination Name' %>
    </div>

    <div class="form-group">
      <%= f.label :content, 'Destination Content' %>
      <%= f.text_area :content, class: 'froala_content' %>
    </div>

  </div>

  <div class="col-sm-4">
    <div class="checkbox">
      <label>
        <%= f.check_box :international %> International Destination
      </label>
    </div>
    <%= f.submit nil, class: 'btn btn-primary btn-lg btn-block' %>

  </div>

</div>

<% end %>
