<%= form_for [:admin, @event] do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

	<ul>
		<% @event.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<%#= render 'admin/admin/images/pictures_upload', f: f -%>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :content %>
	<%= f.text_area :content, class: 'froala_content' %>
</div>

<% unless @event.type == 'Cruise' -%>
<div class="form-group">
	<%= f.label :start_at %>
	<%= f.datetime_select :start_at %>
</div>
<div class="form-group">
	<%= f.label :end_at %>
	<%= f.datetime_select :end_at %>
</div>
<% end -%>

<div class="form-group">
	<%= f.label :venue_id %>
	<%= f.number_field :venue_id, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :host %>
	<%= f.text_field :host, class: 'form-control' %>
</div>

<div class="row">
	<%= f.fields_for :pictures do |pics| -%>
	<%= render 'admin/pictures/nested_fields', obj: f.object, f: pics -%>
	<% end -%>
</div>

<%#= render 'admin/pictures/modal', f: f -%>
<%= render 'poc_modal', f: f if @event.type == 'Cruise' -%>

<div class="actions">
	<%= f.submit nil, class: 'btn btn-success' %>
</div>
<% end %>
