<%= link_to "New Event", new_admin_event_path(@event), class: 'btn btn-primary' %>
<hr>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Venue</th>
				<th>Dates</th>
			</tr>
		</thead>
		<tbody>
			<% @events.reverse.each do |event| %>
			<tr>
				<td><%= link_to event.title, edit_admin_event_path(event) -%></td>
				<td><%= link_to event.casino.try(:name), edit_admin_casino_path(event.casino) -%></td>
				<td><%= event.date_span -%></td>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>

<div class="pagination-container text-center">
	<%= paginate @events %>
</div>