<%= form_for [@flight] do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :departing_airport %>
    <%= f.text_field :departing_airport, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :departing_at %>
    <%= f.datetime_select :departing_at, {}, class: '' %>
  </div>
  <div class="form-group">
    <%= f.label :arriving_airport %>
    <%= f.text_field :arriving_airport, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :arriving_at %>
    <%= f.datetime_select :arriving_at, {}, class: '' %>
  </div>
  <div class="form-group">
    <%= f.label :flight_number %>
    <%= f.text_field :flight_number, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
