<%= search_form_for @flights_q, url: flights_path do |f| %>

<p>
	<%= f.select :departing_at_eq, options_for_select(Flight.unique_dates), {include_blank: 'Departing Date'}, {class: 'form-control'} %>
</p>
<p>
	<%= f.select :destination_name_cont, options_for_select(Flight.available_destinations), {include_blank: 'Destination'}, {class: 'form-control'} -%>
</p>
<p>
	<%= f.select :departing_airport_eq, options_for_select(Flight.departing_airports), {include_blank: 'Departing Airport'}, {class: 'form-control'} -%>
</p>

<button type="submit" class="btn btn-info btn-lg btn-block">Find Flights <%= fa_icon('plane') -%></button>

<% end %>