<section class="parallax" style="background-image: url('<%= image_url('bg-roulette.jpg') -%>');">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Flights</h1>
		</div>
	</div>
</section>

<span class="divider"></span>

<div class="container">

	<table class="table table-striped">
		<thead>
			<tr>
				<%= content_tag :th, sort_link(@flights_q, :departing_airport) %>
				<%= content_tag :th, sort_link(@flights_q, :departing_at) %>
				<%= content_tag :th, sort_link(@flights_q, :arriving_airport, 'Destination') %>
				<%= content_tag :th, sort_link(@flights_q, :arriving_airport, 'Destination (Arriving) Airport') %>
				<%= content_tag :th, sort_link(@flights_q, :arriving_at) %>
				<%= content_tag :th, sort_link(@flights_q, :flight_number) %>
			</tr>
		</thead>

		<tbody>
			<% @flights.each do |flight| %>
			<tr>
				<td><%= flight.departing_airport %></td>
				<td><%= flight.departing_at %></td>
				<td><%= link_to flight.destination.name, flight.destination %></td>
				<td><%= flight.arriving_airport %></td>
				<td><%= flight.arriving_at %></td>
				<td><%= flight.flight_number %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="pagination-container text-center">
		<%= paginate @flights %>
	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'New Flight', new_admin_flight_path %>
	<% end -%>

</div>