<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination_id %>
</p>

<p>
  <strong>Departing location:</strong>
  <%= @flight.departing_location %>
</p>

<p>
  <strong>Departing at:</strong>
  <%= @flight.departing_at %>
</p>

<p>
  <strong>Arriving location:</strong>
  <%= @flight.arriving_location %>
</p>

<p>
  <strong>Arriving at:</strong>
  <%= @flight.arriving_at %>
</p>

<p>
  <strong>Flight number:</strong>
  <%= @flight.flight_number %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
