<li class="nested-fields list-group-item">
	<div class="list-group-item-text media">

		<div class="media-left">
			<p>
				<% if f.object.persisted? -%>
				<%= image_tag f.object.image_url, class: 'media-object', width: 96  -%>
				<% else -%>
				<span class="btn btn-default btn-file" style="width: 96px;">
					<%= fa_icon 'file 2x', class: 'file-input-icon' -%> <%= f.file_field :image %>
				</span>
				<% end -%>
			</p>
			<p>
			<%= link_to_remove_association fa_icon('remove'), f, class: 'btn btn-danger btn-xs btn-block', data: { confirm: 'Are you sure?' } %>
			</p>
		</div>

		<div class="media-body">

			<div class="row">
				<div class="col-sm-7">
					<div class="form-group">
						<%= f.label :title %>
						<%= f.text_field :title, class: 'form-control input-sm' %>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="form-group">
						<%= f.label :alt %>
						<%= f.text_field :alt, class: 'form-control input-sm' %>
					</div>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :caption %>
				<%= f.text_area :caption, class: 'form-control input-sm' %>
			</div>

		</div>
	</div>
</li>