<%= link_to "New Cruise", new_admin_cruise_path(@cruise), class: 'btn btn-primary' %>
<hr>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Ship</th>
				<th>Dates</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @cruises.reverse.each do |cruise| %>
			<tr>
				<td><%= link_to cruise.title, edit_admin_cruise_path(cruise) -%></td>
				<td><%= link_to cruise.venue.try(:name), edit_admin_venue_path(cruise.venue) -%></td>
				<td><%= cruise.date_span -%></td>
				<td>
					<%= link_to fa_icon('clone'), new_admin_cruise_path(clone: cruise.id), class: 'btn btn-success btn-xs', title: 'Clone' -%>
					<%= link_to fa_icon('remove'), [:admin, cruise], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' -%>
				</td>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>

<div class="pagination-container text-center">
	<%= paginate @cruises %>
</div>
