<div class="container">


	<div class="page-header">
		<h1>Menu</h1>
	</div>

	<div class="col-sm-8 col-sm-offset-2">
		

		<ul class="list-group">
		<% @menu_items.each do |menu_item| %>
			<li class="list-group-item">

			<span class="pull-right">
				<%= link_to fa_icon('remove'), menu_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' -%>
				<%= link_to fa_icon('pencil'), edit_menu_item_path(menu_item), class: 'btn btn-xs btn-warning' -%>
				<%= link_to fa_icon('arrows-v'), '#', class: 'btn btn-xs btn-default disabled' -%>
			</span>

			<%= fa_icon(menu_item.icon) if menu_item.icon -%>
			<%= menu_item.value %>

			</li>
		<% end %>
			<%= link_to fa_icon('plus'), new_menu_item_path, class: 'list-group-item text-center' -%>
		</ul>
	</div>


</div>
