<%= link_to event, class: 'list-group-item' do -%>
<div class="list-group-item-text media">
	<%= content_tag :i, nil, class: "fa fa-fw fa-calendar fa-2x media-object pull-left" -%>
	<div class="media-body">
		<h3 class="media-heading">
			<%= event.title -%><br>
		</h3>
		<ul class="list-inline text-muted">
			<%= content_tag :li, event.date_span -%>
			<%= content_tag :li, event.casino.name if event.casino.present? %>
		</ul>
		<div class="">
			<%= event.excerpt %>
		</div>
	</div>
</div>
<% end -%>
