<section class="parallax" style="background-image: url('<%= image_url('bg-water.jpg') -%>');">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Events</h1>
		</div>
	</div>
</section>

<div class="container">
	<span class="divider"></span>

	<div class="row">

		<% @events.each do |event| %>
		<div class="auto-height col-sm-6 col-md-4 col-lg-3">

			<div class="panel panel-primary">
				<div class="panel-body">

					<%= link_to image_tag( 'http://upload.wikimedia.org/wikipedia/commons/9/95/MSMajestyOfTheSeasEdit1.JPG', class: 'img-responsive' ), event -%>
					<h3>
						<%= event.title -%><br>
						<small><%= event.date_span -%></small>
					</h3>
					<p><%= event.excerpt -%></p>
					<p class="text-right"><%= link_to 'Event Details', event, class: 'btn btn-info' -%></p>
				</div>
			</div>

		</div>
		<% end -%>

	</div>

	<div class="pagination-container text-center">
		<%= paginate @events %>
	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'New Event', new_admin_event_path -%>
	<% end -%>

</div>