<% content_for :pre_container do -%>
<%= render 'static_pages/parallax_header', text: 'Land Events', img_url: @background_image -%>
<% end -%>

<div class="row">
	<%= render 'layouts/featured_images', items: @events, heading: :title -%>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Dates</th>
				<th>Venue</th>
			</tr>
		</thead>

		<tbody>
			<% @events.future.each do |event| %>
			<tr>
				<td><%= link_to event.title, event %></td>
				<td><%= event.date_span %></td>
				<td><%= link_to event.casino.name, casino_path(event.casino) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

</div>
