<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @event.slug %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @event.content %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= @event.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= @event.end_at %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= @event.venue_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @event.image_id %>
  </p>

  <% if is_admin? -%>
  <hr>
  <%= link_to 'Edit', edit_admin_event_path(@event) %> |
  <%= link_to 'Back', admin)events_path %>
  <% end -%>
</div>