<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @event.slug %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', events_path %>
