<% @page_header = @event.title -%>

<div class="row">
	
	<aside class="col-sm-4">
		<% if @event.all_pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@event.all_pictures.first.gh_url), sti_event_pictures_path(@event), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default event image -->
		<% end -%>

		<div class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Details</h4>
			</header>
			<div class="panel-body">
				<p>
					<strong>Venue:</strong>
					<%= link_to @event.venue.name, venue_path(@event.venue) %>
				</p>

				<p>
					<strong>Host:</strong>
					<%= link_to @event.host, '#@event.host' %>
				</p>

				<p>
					<strong>Start at:</strong>
					<%= @event.start_at %>
				</p>

				<p>
					<strong>End at:</strong>
					<%= @event.end_at %>
				</p>

				<p>
					<%= link_to 'Attractions', venue_attractions_path(@event.venue), class: 'btn btn-default btn-block btn-sm', data: {toggle: :modal, target: '#defaultModal'} %>
				</p>
			</div>
		</div>

	</aside>

	<div class="col-sm-8">
		<%= @event.rendered_content %>

		<%= render 'ports' if @event.type == 'Cruise' -%>
	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', sti_event_path(@event.type, @event, :edit) %> |
<%= link_to 'Back', sti_event_path(@event.type) %>
<% end -%>
