
<%= link_to 'New Flight', new_admin_flight_path, class: 'btn btn-primary' %>
<%= render 'form_import' -%>


<hr>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<%= content_tag :th, sort_link(@flights_q, :departing_airport) %>
				<%= content_tag :th, sort_link(@flights_q, :departing_at) %>
				<%= content_tag :th, sort_link(@flights_q, :arriving_airport, 'Destination') %>
				<%= content_tag :th, sort_link(@flights_q, :arriving_airport, 'Destination (Arriving) Airport') %>
				<%= content_tag :th, sort_link(@flights_q, :arriving_at) %>
				<%= content_tag :th, sort_link(@flights_q, :flight_number) %>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @flights.each do |flight| %>
			<tr>
				<td><%= flight.departing_airport %></td>
				<td><%= flight.departing_at %></td>
				<td><%= flight.destination.name %></td>
				<td><%= flight.arriving_airport %></td>
				<td><%= flight.arriving_at %></td>
				<td><%= flight.flight_number %></td>
				<td><%= link_to 'Show', flight %></td>
				<td><%= link_to 'Edit', edit_admin_flight_path(flight) %></td>
				<td><%= link_to 'Destroy', [:admin, flight], method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="pagination-container text-center">
	<%= paginate @flights %>
</div>
