<% @page_header = @venue.name -%>

<div class="row">
	
	<aside class="col-sm-4">

		<% if @venue.pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@venue.pictures.first.image_url), venue_pictures_path(@venue), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default venue image -->
		<% end -%>

		<% if false -%>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					<strong>Address:</strong>
					<%= @venue.address %>
				</p>
			</div>
		</div>
		<% end -%>

		<%= render 'events/upcoming', events: @venue.events, render_footer: false -%>

	</aside>

	<div class="col-sm-8">
		<%= @venue.rendered_content %>

		<% if @venue.attractions.any? -%>
		<section class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Attractions</h4>
			</header>
			<ul class="list-group">
				<% @venue.attractions.each do |attraction| -%>
				<%= render 'attractions/show', attraction: attraction -%>
				<% end -%>
			</ul>
		</section>
		<% end -%>

	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_venue_path(@venue) %> |
<%= link_to 'Back', admin_venues_path %>
<% end -%>