<% @page_header = @venue.name -%>

<div class="row">

	<aside class="col-sm-4">

		<% if @venue.pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@venue.pictures.first.image_url), venue_pictures_path(@venue), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default venue image -->
		<% end -%>

		<% if false -%>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					<strong>Address:</strong>
					<%= @venue.address %>
				</p>
			</div>
		</div>
		<% end -%>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Upcoming Cruises</h3>
			</div>
			<div class="list-group">
				<% @venue.cruises.limit(3).each do |cruise| -%>
				<%= link_to cruise, class: 'list-group-item' do -%>
				<div class="list-group-item-text media">
					<%= content_tag :i, nil, class: "fa fa-fw fa-ship fa-2x media-object pull-left" -%>
					<div class="media-body">
						<h5 class="media-heading">
							<%= cruise.title -%><br>
							<small><%= cruise.date_span -%></small>
						</h5>
					</div>
				</div>
				<% end -%>
				<% end -%>
			</div>
		</div>


	</aside>

	<div class="col-sm-8">
		<%= @venue.rendered_content %>

		<% if @venue.attractions.any? -%>
		<section class="panel panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Attractions</h4>
			</header>
			<div class="list-group">
				<% @venue.attractions.each do |attraction| -%>
				<%= render 'attractions/attraction', attraction: attraction -%>
				<% end -%>
			</div>
		</section>
		<% end -%>

	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_venue_path(@venue) %> |
<%= link_to 'Back', admin_venues_path %>
<% end -%>
