<section class="parallax" style="background-image: url('<%= image_url('bg-water.jpg') -%>');">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Cruises</h1>
		</div>
	</div>
</section>

<div class="container">
	<span class="divider"></span>

	<div class="row">

		<% @cruises.each do |cruise| %>
		<div class="auto-height col-sm-6 col-md-4 col-lg-3">

			<div class="panel panel-primary">
				<div class="panel-body">

					<% if cruise.pictures.first.present? -%>
					<%= link_to image_tag( cruise.pictures.first.image_url, class: 'img-responsive' ), cruise -%>
					<% end -%>

					<h3>
						<%= cruise.title -%><br>
						<small><%= cruise.night_length -%> Night <%= cruise.venue.name -%> Cruise</small>
					</h3>
						<small><%= cruise.date_span -%></small>
					<p><%= cruise.excerpt -%></p>
					<p class="text-right"><%= link_to 'Cruise Details', cruise, class: 'btn btn-info' -%></p>
				</div>
			</div>

		</div>
		<% end -%>

	</div>

	<div class="pagination-container text-center">
		<%= paginate @cruises %>
	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'New Cruise', new_admin_cruise_path -%>
	<% end -%>

</div>