<div class="container">

	<div class="page-header">
		<h1>
			<%= @cruise.title %>
		</h1>
	</div>

	<p>
		<strong>Pics:</strong>
		<% @cruise.pictures.each do |pic| %>
		<%= image_tag pic.image_url(:thumb) -%>
		<% end -%>
	</p>

	<div class="row">

		<div class="col-sm-12">

			<div class="col-sm-4 lead">
				<%= @cruise.rendered_content %>
			</div>
			<div class="col-sm-8">
				<div class="well">
					<%= @cruise.attributes -%>
				</div>
			</div>

		</div>

	</div>

	<div class="table-responsive">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Port</th>
					<th>Arrive</th>
					<th>Depart</th>
				</tr>
			</thead>
			<tbody>
				<% @cruise.port_of_calls.each do |poc| -%>
				<tr>
					<td><%= link_to poc.port.name, poc.port -%></td>
					<td><%= poc == @cruise.port_of_calls.first ? '-' : poc.arrives_at -%></td>
					<td><%= poc == @cruise.port_of_calls.last ? '-' : poc.departs_at -%></td>
				</tr>
				<% end -%>
			</tbody>
		</table>
	</div>

	<% if is_admin? -%>
	<hr>
	<%= link_to 'Edit', edit_admin_cruise_path(@cruise) %> |
	<%= link_to 'Back', admin_cruises_path %>
	<% end -%>

</div>