<% content_for :pre_container do -%>
<%= render 'static_pages/parallax_header', text: 'Destinations', img_url: 'bg-caesars-palace.jpg' -%>
<% end -%>

<div class="row">
	<%= render 'layouts/featured_images', items: @destinations -%>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Destination</th>
			<th>Casinos</th>
		</tr>
	</thead>

	<tbody>
		<% @destinations.each do |destination| %>
		<tr>
			<td><%= link_to destination.name, destination -%></td>
			<td class="small">
				<ul class="list-inline">
					<% destination.casinos.each do |casino| -%>
					<%= content_tag :li, link_to(casino.name, [destination, casino]) -%>
					<% end -%>
				</ul>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="pagination-container text-center">
	<%= paginate @destinations %>
</div>

<% if is_admin? -%>
<hr>
<%= link_to 'New Destination', new_admin_destination_path %>
<% end -%>