<% @page_header = @destination.name -%>

<div class="row">

	<div class="col-md-8 col-md-push-4 col-sm-6 col-sm-push-6">
		<%= @destination.rendered_content %>

		<% if @destination.casinos.any? -%>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Casinos Located in <%= @destination.name %></h3>
			</div>

			<div class="embed-responsive embed-responsive-map">
				<%= content_tag :iframe, nil, src: maps_destination_path(@destination), class: 'embed-responsive-item' %>
			</div>

			<div class="list-group">
				<% @destination.casinos.each do |casino| -%>
				<%= link_to casino.name, [@destination, casino], class: 'casino list-group-item', data: {casino: casino.to_json} -%>
				<% end -%>
			</div>
		</div>
		<% end -%>
	</div>

	<div class="col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6">

		<% if @destination.pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@destination.pictures.first.image_url), destination_pictures_path(@destination), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default destination image -->
		<% end -%>


		<div class="panel panel-default">
			<header class="panel-heading">
				<h3 class="panel-title text-center">Flights</h3>
			</header>

			<div class="list-group">
				<%= render(@destination.flights.ordered.limit(5)) || content_tag(:div, 'No Flights at this Time', class: 'panel-body text-center') -%>
			</div>

			<footer class="panel-footer text-center small">
				<%= link_to 'View All Flights', flights_path("q[casino_destination_name_eq]" => @destination.name) %>
			</footer>
		</div>

	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_destination_path(@destination) %> |
<%= link_to 'Back', admin_destinations_path %>
<% end -%>
