<% @page_header = @destination.name -%>

<div class="row">

	<div class="col-md-8 col-md-push-4 col-sm-6 col-sm-push-6">
		<%= @destination.rendered_content %>
	</div>

	<div class="col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6">

		<% if @destination.pictures.any? -%>
		<figure class="thumbnail">
			<%= link_to image_tag(@destination.pictures.first.gh_url), destination_pictures_path(@destination), data: {toggle: :modal, target: '#defaultModal'} -%>
		</figure>
		<% else -%>
		<!-- default destination image -->
		<% end -%>


		<% if @destination.casinos.any? -%>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Casinos</h3>
			</div>
			<div class="panel-body">
				<div id="casinosMap" class="gmap"></div>
			</div>
			<div class="list-group">
				<% @destination.casinos.first(4).each do |casino| -%>
				<%= link_to casino.name, [@destination, casino], class: 'casino list-group-item', data: {casino: casino.to_json} -%>
				<% end -%>
			</div>
			<div class="panel-footer">
				<%= link_to 'View All', destination_casinos_path(@destination), class: 'small' -%>

			</div>
		</div>
		<% end -%>

		<% if @destination.flights.any? -%>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Flights</h3>
			</div>
			<!-- <div class="panel-body"></div> -->
			<div class="list-group">
				<% @destination.flights.each do |flight| -%>
				<%= link_to flight, flight, class: 'list-group-item' -%>
				<% end -%>
			</div>
		</div>
		<% end -%>

	</div>

</div>

<% if is_admin? -%>
<hr>
<%= link_to 'Edit', edit_admin_destination_path(@destination) %> |
<%= link_to 'Back', admin_destinations_path %>
<% end -%>