<li class="<%= block ? 'dropdown-submenu' : 'nav-menu' -%> <%= 'active' if active -%>">
	<% unless block -%>
	<a href="<%= url -%>"><%= text -%></a>
	<% else -%>
	<a tabindex="-1" href="<%= url -%>"><%= text -%></a>
	<ul class="dropdown-menu">
		<%= block -%>
	</ul>
	<% end -%>
</li>