<div class="list-group">
	<%= admin_nav_item 'Pages', admin_pages_path -%>
	<%= admin_nav_item 'Navigation Menu', admin_menu_items_path -%>
	<%= admin_nav_item 'Destinations', admin_destinations_path -%>
	<%= admin_nav_item 'Casinos', '#admin_casinos_path' -%>
	<%= admin_nav_item 'Events', admin_events_path -%>
</div>