<div class="panel panel-<%= active ? 'info' : 'default' -%> adminMenuPanel">
	<a class="panel-heading" data-parent="#adminMenuAccordiion" href="<%= url -%>">
		<h4 class="panel-title">
			<%= text -%>
		</h4>
	</a>
	<div id="adminMenu<%= text -%>" class="<%= active ? 'panel' : 'panel-collapse collapse' -%>" role="tabpanel">
		<%= block -%>
	</div>
</div>