<div id="adminSidebar" class="sidebar-nav">
	<ul class="nav nav-tabs nav-stacked">
		<ul id="adminDropDown" class="dropdown-menu">

			<%= admin_nav_item 'Pages', admin_pages_path do -%>
				<%= admin_nav_item 'New Page', new_admin_page_path -%>
			<% end -%>

			<%= admin_nav_item 'Navigation Menu', admin_menu_items_path do -%>
				<%= admin_nav_item 'New Menu Item', new_admin_menu_item_path -%>
			<% end -%>

			<%= admin_nav_item 'Destinations', admin_destinations_path do -%>
				<%= admin_nav_item 'New Destination', new_admin_destination_path -%>
				<%= admin_nav_item 'Casinos', admin_casinos_path do -%>
					<%= admin_nav_item 'New Casino', new_admin_casino_path -%>
				<% end -%>
			<% end -%>

			<%= admin_nav_item 'Events', admin_events_path do -%>
				<%= admin_nav_item 'New Event', new_admin_event_path -%>
				<%= admin_nav_item 'Cruises', admin_cruises_path do -%>
					<%= admin_nav_item 'New Cruise', new_admin_cruise_path -%>
					<%= admin_nav_item 'Ports', admin_ports_path do -%>
						<%= admin_nav_item 'New Port', new_admin_port_path -%>
					<% end -%>
				<% end -%>
				<%= admin_nav_item 'Venue', '#venues' do -%>
					<%= admin_nav_item 'New Venue', '#new_venue' -%>
				<% end -%>
			<% end -%>

			<%= admin_nav_item 'Flights', admin_flights_path do -%>
				<%= admin_nav_item 'New Flight', new_admin_flight_path -%>
			<% end -%>

		</ul>
	</ul>
</div>