<% item_type = @items.klass.name.underscore -%>

<%= link_to "New #{item_type.titleize}", send("new_admin_#{item_type}_path"), class: 'btn btn-primary' -%>

<hr>

<div class="table-responsive">
	<table class="table table-striped">
		<!-- <thead>
			<tr>
				<th>Item</th>
				<th></th>
			</tr>
		</thead> -->

		<tbody>
			<% @items.each do |item| %>
			<tr>
				<td>
					<%= link_to item.name, send("edit_admin_#{item_type}_path", item) -%>
				</td>
				<td class="text-right">
					<%= link_to fa_icon('eye'), item_path(item, item_type), class: 'btn btn-info btn-xs' -%>
					<%= link_to fa_icon('remove'), [:admin, item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' -%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="pagination-container text-center">
	<%= paginate @items %>
</div>