<div class="row">

	<div class="col-sm-10 col-sm-offset-1">

		<ul class="list-group" id="sortableMenuItems" data-sort-url="<%= sort_admin_menu_items_url -%>">
			<% @menu_items.each do |menu_item| %>

			<%= content_tag_for :li, menu_item, class: 'list-group-item' do -%>

			<%= link_to fa_icon('arrows-v'), '#', class: 'draggable btn btn-xs btn-default disabled' -%>

			<span class="pull-right">
				<%= link_to fa_icon('pencil'), edit_admin_menu_item_path(menu_item), class: 'btn btn-xs btn-warning' -%>
				<%= link_to fa_icon('remove'), menu_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' -%>
			</span>

			<%= fa_icon(menu_item.icon) if menu_item.icon -%>
			<%= menu_item.text %>

			<% end -%>

			<% end %>
			<%= link_to fa_icon('plus'), new_admin_menu_item_path, class: 'list-group-item text-center' -%>
		</ul>
	</div>

</div>