<p id="notice"><%= notice %></p>

<p>
  <strong>Href:</strong>
  <%= @admin_menu_item.href %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @admin_menu_item.icon %>
</p>

<p>
  <strong>Position:</strong>
  <%= @admin_menu_item.position %>
</p>

<p>
  <strong>Text:</strong>
  <%= @admin_menu_item.text %>
</p>

<p>
  <strong>Page:</strong>
  <%= @admin_menu_item.page %>
</p>

<p>
  <strong>Blank target:</strong>
  <%= @admin_menu_item.blank_target %>
</p>

<%= link_to 'Edit', edit_admin_menu_item_path(@admin_menu_item) %> |
<%= link_to 'Back', admin_menu_items_path %>
